[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
alembic = {extras = ["all"], version = "*"}
databases = {extras = ["postgresql"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
fastapi-mail = "*"
graphene = "*"
aiofiles = "*"
python-slugify = {extras = ["unidecode"], version = "*"}
transliterate = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
